@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300&display=swap');
/* 
html, body {
  scroll-behavior: smooth;
  transition: height 0.5s ease;
} */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 10px;
 font-family: 'Noto Sans TC', sans-serif;
 color: white;
 /* overflow-x: scroll; */
}

a{
  text-decoration: none;
  color: white;
}

body{
  background-color: black;
}

.colorverde{
  color: #7BC5B5;
}

.f10{
  font-size: 1.2rem;
}

.f15{
  font-size: 1.5rem;
}

.f20{
  font-size: 2rem;
}

.f25{
  font-size: 2.5rem;
}

.f30{
  font-size: 3rem;
}

.f35{
  font-size: 3.5rem;
}

.f40{
  font-size: 4rem;
}

.f50{
  font-size: 5rem;
}

.f55{
  font-size: 5.5rem;
}

.f60{
  font-size: 6rem;
}

.f70{
  font-size: 7rem;
}


.fregular{
 font-weight: 400;
} 

.fbold{
  font-weight: bolder;
} 

.fblack{
  font-weight: 800;
}




@media (max-width: 2560px) {
  *{
    font-size: 18px;
  }
}

@media (max-width: 1920px) {
  *{
    font-size: 14px;
  }
}

@media (max-width: 1366px) {
  *{
    font-size: 10px;
   }
}

@media (max-width: 1024px) {
  *{
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  *{
    font-size: 8px;
   }

   body{
    overflow: hidden;
    overflow-y: scroll;
   }
   
}   

@media (max-width: 480px) {
  *{
    font-size: 7px;
   }
}   






/* Tablets:

768px
1024px 

Laptops y Monitores Pequeños:

1024px.
1280px.

Monitores Medianos:

1366px.
1440px.

Monitores Grandes:

1600px.
1920px.

Pantallas 4K:


3840px.


Pantallas Ultra HD / 8K:

7680px */ 